body {
  background: white;
  color: black;
  font-family: monospace;
  font-size: 20px;
}

.root {
  background: white;
  color: black;
  font-family: monospace;
  font-size: 20px;
}

#input {
  background-color: white;
  font-family: monospace;
  color: black;
  border: none;
  width: 70%;
  font-size: 20px;
}